/* Basic Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(237, 236, 236);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-color: rgb(20, 18, 11);
}

button {
  cursor: pointer;
  border: none;
}

/* Navbar Styles */

.main-header {
  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(20, 18, 11);
}

.navbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.nav-logo img {
  width: 95px;
  filter: invert(1);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

.nav-list li {
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

.nav-buttons button {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

.nav-buttons .black-btn {
  padding: 5px 10px;
  box-shadow: 0 0 1px #cfcfcf;
  background-color: rgb(20, 18, 11);
  border-radius: 20px;
}

.nav-buttons .white-btn {
  padding: 0 14px;
  background-color: rgb(237, 236, 236);
  border-radius: 30px;
  color: rgb(0, 0, 0);
}

/* Hero Section Styles */

.hero-section {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 112px 20px 67.2px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4em;
}

.hero-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2em;
  max-width: 40%;
}

.hero-header h1 {
  font-size: 26px;
  line-height: 33px;
  font-weight: 400;
}

.hero-header button {
  padding: 15px 30px;
  background-color: rgb(237, 236, 236);
  border-radius: 30px;
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.hero-header span {
  color: rgb(20, 18, 11);
}

.hero-header img {
  width: 20px;
}

.hero-image img {
  width: 100%;
  border-radius: 10px;
}
