/* Adding the font */

@font-face {
  font-family: "CursorGothic";
  src: url("./CursorGothic_Regular-s.p.a361088d.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Basic Styles & Utility Classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(237, 236, 236);
  font-family: "CursorGothic", system-ui;
}

html,
body {
  background-color: rgb(20, 18, 11);
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  border-radius: 3px;
}

.gray-text {
  color: #edecec99;
}

.orange-text {
  color: #f54e00;
}

.sm-text {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

.medium-text {
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
}

.heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
}

.download-btn {
  padding: 12px 20px;
  background-color: rgb(237, 236, 236);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Navbar Styles */

.main-header {
  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(20, 18, 11);
  padding: 0.8rem 0;
}

.navbar {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  width: 6rem;
  filter: invert(95%);
  cursor: pointer;
  margin-right: 4rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3em;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

.nav-buttons a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons .black-a {
  padding: 3px 9px;
  box-shadow: 0 0 0.6px rgb(237, 236, 236);
  background-color: rgb(20, 18, 11);
  border-radius: 20px;
}

.nav-buttons .white-a {
  padding: 0 12px;
  background-color: rgb(237, 236, 236);
  border-radius: 30px;
  color: rgb(0, 0, 0);
}

/* Hero Section Styles */

.hero-section {
  max-width: 1300px;
  margin: 0 auto;
  padding: 112px 0 67.2px 0;
}

.hero-section section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4em;
}

.hero-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5em;
  max-width: 45%;
}

.hero-header span {
  color: rgb(20, 18, 11);
}

.hero-header img {
  width: 20px;
}

.hero-image img {
  width: 100%;
}

/* Trusted By Section */

.trusted-by-section {
  padding: 0 20px 33.6px 20px;
  max-width: 1300px;
  text-align: center;
  margin: 0 auto;
}

.trusted-by-text {
  margin-bottom: 22.4px;
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.logo-container figure {
  padding: 25px;
  background-color: rgb(27, 25, 19);
}

.logo-container img {
  height: 40px;
}

/* Features Section Styles */

.features-section {
  padding: 67.2px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4em;
}

.features-section section {
  margin: 0 58px 26px 58px;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 25, 19);
  border-radius: 5px;
  padding: 1rem 0.6rem;
  gap: 3rem;
}

.feature-text {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  gap: 1em;
}

.big-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.feature-fig {
  width: 65%;
}

.feature-img {
  width: 100%;
}

.second-feature {
  flex-direction: row-reverse;
}

/* Testimonials Section Styles */

.testimonial-section {
  padding: 67.2px 0;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;
}

.testimonial-header {
  width: 100%;
  text-align: center;
}

.testimonial-header h1 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.testimonial {
  background-color: rgb(27, 25, 19);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 240.2px;
}

.testimonial-fig {
  display: flex;
  gap: 5px;
}

.testimonial-img {
  width: 2.5rem;
}

.role {
  color: #edecec99;
}

/* Card Features Section Styles */

.features-card-section {
  padding: 67.2px 0;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.features-card-header {
  width: 100%;
  text-align: left;
}

.features-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.feature-card {
  background-color: rgb(27, 25, 19);
  padding: 12px 18px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.card-text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.card-fig {
  width: 100%;
}

.card-img {
  width: 100%;
}

/* Changelog Section Styles */

.changelog-section {
  padding: 67.2px 0;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.changelog-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.changelog {
  background-color: rgb(27, 25, 19);
  padding: 1.2rem;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  height: 121px;
}

.date-of-change {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.version {
  padding: 1px 9px;
  box-shadow: 0 0 2px rgb(237, 236, 236);
  border-radius: 15px;
}

/* About Section Styles */

.about-section {
  padding: 67.2px 0;
  max-width: 1300px;
  margin: 0 auto;
}

.about {
  background-color: rgb(27, 25, 19);
  padding: 1rem 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 3px;
  width: 100%;
}

.about-text-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.about-fig {
  width: 65%;
}

.about-img {
  width: 100%;
}

/* Recent Highlights Section Styles */

.recent-highlights-section {
  width: 100%;
  background-color: rgb(27, 25, 19);
  margin: 10rem 0;
}

.recent-highlights-container {
  padding: 67.2px 0;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12.5rem;
}

.recent-text {
  position: sticky;
  top: 4rem;
}

.recent-highlights-main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.recent-highlights {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 9px;
}

.recent-highlight {
  background-color: rgb(32, 30, 24);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 42vw;
  padding: 0.8rem 3.5rem 0.8rem 0.8rem;
  gap: 2rem;
}
